@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// @import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "compass/reset";
@import "compass/css3";

@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

html {
	min-height: 100%;
	@include background-image(linear-gradient(rgba(255,255,255,1), rgba(255,192,203,1)));
}

body {
	background-color : rgba(0,0,0,0);
}

header {
	margin-bottom : 10px;
}

main {

}

footer {
	margin-top : 10px;
}

h1 {
	font-family : Bree Serif, serif;
	font-size : 2rem;
	text-align : center;
}

.reglogbutton {
	text-align : center;
	
}

.navtitle {
	background : rgba(255,192,203,1);
	color : #222;
	font-family : Bree Serif, serif;
}