<section data-ng-controller="BarCtrl">
    <div class="container 50% center-this">
        <br>
        <h2>New Bar</h2>
        <form data-ng-submit="create()" novalidate>
            <div>
                <div>
                    <input type="text" name="name" data-ng-model="name" id="name" placeholder="Bar Name">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="city" data-ng-model="city" id="city" placeholder="City">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="address" data-ng-model="address" id="address" placeholder="Address">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="ageMin" data-ng-model="ageMin" id="ageMin" placeholder="Minimum Age">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="ageMax" data-ng-model="ageMax" id="ageMax" placeholder="Maximum Age">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="price" data-ng-model="price" id="price" placeholder="Price Category">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="latitude" data-ng-model="latitude" id="latitude" placeholder="Latitude">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="longitude" data-ng-model="longitude" id="longitude" placeholder="Longitude">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="information" data-ng-model="information" id="information" placeholder="Information">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="hours" data-ng-model="hours" id="hours" placeholder="Hours">
                </div>
            </div>
            <div>
                <div>
                    <select name="featured">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="pic1" data-ng-model="pic1" id="pic1" placeholder="Picture 1">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="pic2" data-ng-model="pic2" id="pic2" placeholder="Picture 2">
                </div>
            </div>
            <div>
                <input type="submit">
            </div>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>