<section data-ng-controller="BarCtrl">
    <div class="container 50% center-this">
        <br>
        <h2>New Bar</h2>
        <form data-ng-submit="create()" novalidate>
            <div>
                <div>
                    <input type="text" name="newbar.name" data-ng-model="newbar.name" id="newbar.name" placeholder="Bar Name">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.city" data-ng-model="newbar.city" id="newbar.city" placeholder="City">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.address" data-ng-model="newbar.address" id="newbar.address" placeholder="Address">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.ageMin" data-ng-model="newbar.ageMin" id="newbar.ageMin" placeholder="Minimum Age">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.ageMax" data-ng-model="newbar.ageMax" id="newbar.ageMax" placeholder="Maximum Age">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.price" data-ng-model="newbar.price" id="newbar.price" placeholder="Price Category">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.latitude" data-ng-model="newbar.latitude" id="newbar.latitude" placeholder="Latitude">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.longitude" data-ng-model="newbar.longitude" id="newbar.longitude" placeholder="Longitude">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.information" data-ng-model="newbar.information" id="newbar.information" placeholder="Information">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.hours" data-ng-model="newbar.hours" id="newbar.hours" placeholder="Hours">
                </div>
            </div>
            <div>
                <div>
                    <select name="newbar.featured">
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.pic1" data-ng-model="newbar.pic1" id="newbar.pic1" placeholder="Picture 1">
                </div>
            </div>
            <div>
                <div>
                    <input type="text" name="newbar.pic2" data-ng-model="newbar.pic2" id="newbar.pic2" placeholder="Picture 2">
                </div>
            </div>
            <div>
                <input type="submit">
            </div>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>