<section class="location-background" data-ng-controller="BarCtrl" data-ng-init="findOne(); initializeViewBar()">
    <br>
    <div class="container">
        <div class="row">
            <section class="3u 12u$(small) center-this">
                <div>
                    <h2 class="header-no-margin" data-ng-bind="bar.name"></h2>
                    <star-rating ng-model="rating2" max="5" readonly="isReadonly"></star-rating>
                    <div><strong>{{rating2}}/5 Stars</strong></div>
                    <div><strong>10 Reviews</strong></div>
                </div>
                <br>
                <div>
                    <a href="{{directionUrl}}" class="tooltip">
                        <i class="icon big rounded color1 fa-location-arrow hvr-shrink"></i>
                        <span>
                            <strong>Get Directions</strong>
                        </span>
                    </a>
                    <a href="{{chatroom}}" class="tooltip">
                        <i class="icon big rounded color9 fa-comments hvr-shrink"></i>
                        <span>
                            <strong>Enter Chatroom</strong>
                        </span>
                    </a>
                    <a href="{{reviewsPage}}" class="tooltip">
                        <i class="icon big rounded color6 fa-pencil hvr-shrink"></i>
                        <span>
                            <strong>Write a Review</strong>
                        </span>
                    </a>
                </div>
                <br>
                <div class="location-info">
                    <h3>Information</h3>
                    <p>klsdjflksjdvksmdnkcl</p>
                    <p>sjndklvsndkljvnslkdv</p>
                </div>
                <br>
                <div class="location-hours">
                    <h3>Pricing & Hours</h3>
                </div>
            </section>
            <section class="9u$ 12u$(small)">
                <div class="row">
                    <div class="12u$ 12u$(small) center-this">
                        <p class="location-header header-no-margin">
                            <i class="icon fa-check hvr-shrink">Going</i>
                            &nbsp;|&nbsp;
                            <i class="icon fa-times hvr-shrink">Show Me Another Option</i> 
                            &nbsp;|&nbsp;
                            233 Koyn Users Going
                            &nbsp;|&nbsp;
                            12 Facebook Friends Going (List)
                        </p>
                        <br>
                    </div>
                </div>
                <div class="row center-this">
                    <div class="8u 12u$(small) location-img-format">
                        <div id="owl-demo" class="owl-carousel">
                            <div class="item"><img src="images/pic02.jpg"></div>
                            <div class="item"><img src="images/pic07.jpg"></div>
                            <div class="item"><img src="images/pic04.jpg"></div>
                            <div class="item"><img src="images/pic08.jpg"></div>
                            <div class="item"><img src="images/pic03.jpg"></div>
                            <div class="item"><img src="images/pic07.jpg"></div>
                        </div>
                        <div id="location-map-canvas"></div>
                    </div>
                    <div class="4u$ 12u$(small)">
                        <div class="location-featured-review center-this">
                            <h3>Featured Review</h3>
                            <div class="center-this"><img class="center-this" src="../images/profile_placeholder.gif"></div>
                            <div class="center-this"><b>{{featuredName}}</b></div>
                            <div class="center-this"><star-rating ng-model="featuredRating" max="5" readonly="isReadonly"></star-rating></div>
                            <br>
                            <p>This place is the absolue bestest. I'm going to come here every night until I die.</p>
                        </div>
                        <div>
                            <h3>Recent Reviews</h3>
                        </div>
                        <div class="location-reviews" ng-repeat="review in reviews | limitTo:5">
                            <p>
                                <b>{{review.title}}</b><br>
                                {{review.content}}<br>
                                <star-rating ng-model="review.rating" max="5" readonly="isReadonly">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="12u$ 12u$(small)">
                    </div>
                </div>

            </section>
        </div>
    </div>

</section>