<section>
	<form role="form" class="form" action="userUrl" method="put">
		<div class="col col-sm-4 col-sm-offset-4">
			<label>Birthday:</label>
			<input class="form-control" type="text" name="birthday" />
		</div>
		<div class="col col-sm-4 col-sm-offset-4">
			<label>Email:</label>
			<input class="form-control" type="text" name="email" />
		</div>
		<div class="col col-sm-4 col-sm-offset-4">
			<label>Username:</label>
			<input class="form-control" type="text" name="username" />
		</div>
		<div class="col col-sm-4 col-sm-offset-4">
			<label>Password:</label>
			<input class="form-control" type="password" name="password" />
		</div>			
		<div class="col col-sm-4 col-sm-offset-4">
			<button type="submit" class="btn btn-lg btn-success gobutton">Go!</button>
		</div>
	</form>
</section>