<section ng-controller="UserCtrl">

	<div class="container 75%">
		<div class="row">
			<section class="12u$ 12u$(small)">
				<br>
				<h3>General Account Settings</h3>
				<table>
					<thead>
						<tr>
							<td><strong>Value</strong></td>
							<td><strong>Current Setting</strong></td>
							<td><strong>Edit</strong></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Name</td>
							<td>{{user.fullname}}</td>
							<td><a href="{{editName}}">Edit</a></td>
						</tr>
						<tr>
							<td>Username</td>
							<td>{{user.username}}</td>
							<td><a href="{{editUsername}}">Edit</a></td>
						</tr>
						<tr>
							<td>Password</td>
							<td>**********</td>
							<td><a href="{{editPassword}}">Edit</a></td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{user.email}}</td>
							<td><a href="{{editEmail}}">Edit</a></td>
						</tr>
						<tr>
							<td>Gender</td>
							<td>{{user.gender}}</td>
							<td><a href="{{editGender}}">Edit</a></td>
						</tr>
						<tr>
							<td>Birthday</td>
							<td>{{user.birthday}}</td>
							<td><a href="{{editBirthday}}">Edit</a></td>
						</tr>
					</tbody>
				</table>
				<h3>Account Preferences</h3>
				<table>
					<thead>
						<tr>
							<td><strong>Value</strong></td>
							<td><strong>Current Setting</strong></td>
							<td><strong>Edit</strong></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Profile Picture</td>
							<td>{{user.avatar}}</td>
							<td>&nbsp;&nbsp;<a href="{{editAvatar}}"><i class="icon fa-camera-retro hvr-shrink"></i></a></td>
						</tr>
						<tr>
							<td>Primary City</td>
							<td>{{user.city}}</td>
							<td>&nbsp;&nbsp;<a href="{{editCity}}"><i class="icon fa-pencil hvr-shrink"></i></a></td>
						</tr>
						<tr>
							<td>Group 1</td>
							<td>{{user.group1}}</td>
							<td>&nbsp;&nbsp;<a href="{{editG1}}"><i class="icon fa-pencil hvr-shrink"></i></a></td>
						</tr>
						<tr>
							<td>Group 2</td>
							<td>{{user.group2}}</td>
							<td>&nbsp;&nbsp;<a href="{{editG2}}"><i class="icon fa-pencil hvr-shrink"></i></a></td>
						</tr>
						<tr>
							<td>Group 3</td>
							<td>{{user.group3}}</td>
							<td>&nbsp;&nbsp;<a href="{{editG3}}"><i class="icon fa-pencil hvr-shrink"></i></a></td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</div>
</section>