/* GLOBAL COLOR VARIABLES */

/* Main Color Scheme */
$pink : rgba(255,192,203,1);
$blue : rgba(23,192,181,1);
$black : rgba(34,34,34,1);
$white : rgba(255,255,255,1);
$purple : rgba(110,79,85,1);
$paleblue : rgba(140,192,192,1);