/* GLOBAL FONT VARIABLES */


//Font Types
$serif : Merriweather, serif;
$sans-serif : Droid Sans, sans-serif;
$monospace : Source Code Pro, monospace;
$title : Bree Serif, serif;
//$subtitle : Droid Sans, sans-serif;
$standard : Merriweather, serif;

//Font Size
$vsmall : 0.75rem;
$small : 0.85rem;
$medium : 1rem;
$mediumPlus : 1.15rem;
$large : 1.5rem;
$vlarge : 2rem;
$huge : 5rem;