<section class="navbackground" data-ng-controller="MainCtrl" data-ng-init="initialize()">
    <br>
    <h1 class="first">Directions</h1>

    <div id="control">
      <form ng-submit="calcRoute()">
        <strong>Start:</strong>
        <input type="text" id="start" placeholder="Your Location">
        <strong>End:</strong>
        <input type="text" id="end" placeholder="Endpoint">
        <input type="submit" value="submit">
      </form>
    </div>
    <div id="directions-panel"></div>
    <div id="map-canvas"></div>

</section>