<!-- Header -->
    <header id="header">
        <h1><a class="color-primary" href="/#!/">Flamingo</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/#!/">Home</a></li>
                <li><a href="/#!/features">Features</a></li>
                <li><a href="/#!/contact">Contact</a></li>
                <li><a href="/register" class="button special" ng-hide="logstatus">Register</a></li>
                <li><a href="/login" class="button special" ng-hide="logstatus">Login</a></li>
                <li><a href="/profile" class="button special" ng-show="logstatus">Profile</a></li>
                <li><a href="/signout" class="button special" ng-show="logstatus">Signout</a></li>
                <% } %>
            </ul>
        </nav>
    </header>