<!DOCTYPE html>

<html>

    <head>

        <title><%= title %></title>

        <link rel="stylesheet" href="css/skel.css">
        <link rel="stylesheet" href="css/style.css">

        <link rel="stylesheet" href="nonbower_components/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="nonbower_components/owl-carousel/owl.theme.css">
        <link rel="stylesheet" href="nonbower_components/owl-carousel/owl.transitions.css">

    </head>

    <body ng-controller="MainCtrl" class="landing" ng-init="watcher()">

    <!-- Header -->
        <header id="header">
            <h1><a class="color-primary" href="/#!/">Koyn</a></h1>
            <nav id="nav">
                <ul>
                    <li><a class="hvr-underline-from-left" href="/#!/">Home</a></li>
                    <li><a class="hvr-underline-from-left" href="/#!/#two">Cities</a></li>
                    <li><a class="hvr-underline-from-left" href="/#!/#three">Contact</a></li>
                    <% if (user == null) { %>
                    <li><a href="/register" class="button special hvr-push">Register</a></li>
                    <li><a href="/login" class="button special hvr-push">Login</a></li>
                    <% } else { %>
                    <li><a ng-href="{{toProfile}}" class="button special hvr-push">Profile</a></li>
                    <li><a href="/signout" class="button special hvr-push">Signout</a></li>
                    <% } %>
                </ul>
            </nav>
        </header>

        <main ng-view autoscroll="true"></main>
        
        <!--
        <% if ( user ) { %>
            <h2>Hello <%=user.fullname%></h2>
            <a href="/signout">Sign Out</a>
        <% } else { %>
            <div class="col col-sm-4 col-sm-offset-4">
                <a class="btn btn-lg btn-success reglogbutton" href="/register">Register</a>
            </div>
            <div class="col col-sm-4 col-sm-offset-4">
                <a class="btn btn-lg btn-success reglogbutton" href="/login">Login</a>
            </div>
            </div>
        <% } %>
        -->

        <!--JavaScript Variables-->
        <script type="text/javascript">
            window.user = <%- user || 'null' %>;
            var date = new Date();
            window.local = date.getTime();
        </script>

        <!--Style Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/skel-layers.min.js"></script>
        <script src="js/init.js"></script>


        <!-- Socket.io -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- Angular Files -->
        <script src="js/lib/angular/angular.min.js"></script>
        <script src="js/lib/angular/angular-route.min.js"></script>
        <script src="js/lib/angular/angular-animate.min.js"></script>
        <script src="js/lib/angular/angular-resource.min.js"></script>
        
        <!-- Angular Modules/Services/Controllers/Routes -->
        <script src="js/modules/main/main.c.module.js"></script>
        <script src="js/modules/main/routes/main.c.routes.js"></script>
        <script src="js/modules/main/controllers/main.c.controller.js"></script>
    
        <script src="js/modules/users/user.c.module.js"></script>
        <script src="js/modules/users/controllers/user.c.controller.js"></script>
        <script src="js/modules/users/services/authentication.c.service.js"></script>
        <script src="js/modules/users/services/user.c.service.js"></script>
        <script src="js/modules/users/routes/user.c.routes.js"></script>

        <script type="text/javascript" src="js/modules/articles/article.c.module.js"></script>
        <script type="text/javascript" src="js/modules/articles/controllers/article.c.controller.js"></script>
        <script type="text/javascript" src="js/modules/articles/services/article.c.service.js"></script>
        <script type="text/javascript" src="js/modules/articles/routes/article.c.routes.js"></script>

        <script type="text/javascript" src="js/modules/bars/bar.c.module.js"></script>
        <script type="text/javascript" src="js/modules/bars/controllers/bar.c.controller.js"></script>
        <script type="text/javascript" src="js/modules/bars/services/bar.c.service.js"></script>
        <script type="text/javascript" src="js/modules/bars/routes/bar.c.routes.js"></script>   

        <script type="text/javascript" src="js/modules/restaurants/restaurant.c.module.js"></script>
        <script type="text/javascript" src="js/modules/restaurants/controllers/restaurant.c.controller.js"></script>
        <script type="text/javascript" src="js/modules/restaurants/services/restaurant.c.service.js"></script>
        <script type="text/javascript" src="js/modules/restaurants/routes/restaurant.c.routes.js"></script> 

        <script type="text/javascript" src="js/modules/clubs/club.c.module.js"></script>
        <script type="text/javascript" src="js/modules/clubs/controllers/club.c.controller.js"></script>
        <script type="text/javascript" src="js/modules/clubs/services/club.c.service.js"></script>
        <script type="text/javascript" src="js/modules/clubs/routes/club.c.routes.js"></script>

        <script type="text/javascript" src="js/modules/chat/chat.c.module.js"></script>
        <script type="text/javascript" src="js/modules/chat/controllers/chat.c.controller.js"></script>
        <script type="text/javascript" src="js/modules/chat/services/chat.c.service.js"></script>
        <script type="text/javascript" src="js/modules/chat/routes/chat.c.routes.js"></script>

        <!-- Google Maps -->
        <script src="bower_components/lodash/lodash.min.js"></script>
        <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

        <!-- Firebase -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

        <!-- Carousel -->
        <script src="nonbower_components/owl-carousel/owl.carousel.min.js"></script>

        <!-- File Upload -->

        <!-- Angular App -->
        <script src="app.js"></script>

    </body>

</html>