<!DOCTYPE html>

<html>
	<head>
		<title>
			<%=title %>
		</title>

        <link rel="stylesheet" href="css/skel.css">
        <link rel="stylesheet" href="css/style.css">
	</head>
	
	<body>

        <header id="header">
            <h1><a class="color-primary" href="/#!/">Koyn</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="/#!/">Home</a></li>
                    <li><a href="/#!/two">Cities</a></li>
                    <li><a href="/#!/three">Contact</a></li>
                    <li><a href="/register" class="button special">Register</a></li>
                    <li><a href="/login" class="button special">Login</a></li>
                </ul>
            </nav>
        </header>

        <br>

		<div class="container 50% center-this">
            <h2>Login</h2>
            <% for(var i in messages) { %>

                <div class="flash">
                    Login Error:
                    <%= messages[i] %>
                </div>
                <div class="notify">
                    <h1>New to Koyn? <a href="/register">Register Here.</a></h1>
                    <h1> If you've lost or forgotten your password, <a href="/#!/password">click here.</a></h1>
                </div>
            <% } %>
            <div class="row">
                <section class="6u 12u$(small) center-this">
                    <h3>Standard Login</h3>              
        			<form action="/login" method="post">
        				<div class="row uniform">
        					<div class="12u$">
        						<label>Username/Email:</label>
        						<input type="text" name="username" />
        					</div>
        					<div class="12u$">
        						<label>Password:</label>
        						<input type="password" name="password" />
        					</div>			
        					<div class="12u$">
        						<input type="submit" value="Login" class="special big button-spacing">
        					</div>
                        </div>
                    </form>
                </section>
                <section class="6u$ 12u$(small) center-this">
    				<div class="12u$">
                        <h3>Facebook Login</h3>
    					<a class="" href="/oauth/facebook"><img class="img-vert-format" src="images/fb.png"></a>
                        <br>
                        <br>
                        <br>
    				</div>
                </section>
            </div>
		</div>

    <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <section class="links">
                    <div class="row">
                        <section class="3u 6u(medium) 12u$(small)">
                            <h3>Funded By</h3>
                            <ul class="unstyled">
                                <li><a href="#">Investor A</a></li>
                                <li><a href="#">Bob Saget</a></li>
                                <li><a href="#">Inestor C</a></li>
                                <li><a href="#">Investor D</a></li>
                            </ul>
                        </section>
                        <section class="3u 6u$(medium) 12u$(small)">
                            <h3>Our Team</h3>
                            <ul class="unstyled">
                                <li><a href="#">Jared Schwartz, Mobile Dev</a></li>
                                <li><a href="#">Rajan Patel</a></li>
                                <li><a href="#">Bob Loblaw, Legal</a></li>
                                <li><a href="#">Person D</a></li>
                                <li><a href="#">Person E</a></li>
                            </ul>
                        </section>
                        <section class="3u 6u(medium) 12u$(small)">
                            <h3>Our Mission</h3>
                            <p>We want to take over the world. Bow down, knaves.</p>
                        </section>
                        <section class="3u$ 6u$(medium) 12u$(small)">
                            <h3>Navigation</h3>
                            <ul class="unstyled">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">Register</a></li>
                                <li><a href="#">Login</a></li>
                            </ul>
                        </section>
                    </div>
                </section>
                <div class="row">
                    <div class="8u 12u$(medium)">
                        <ul class="copyright">
                            <li>&copy; Flamingo, 2015. All rights reserved.</li>
                        </ul>
                    </div>
                    <div class="4u$ 12u$(medium)">
                        <ul class="icons">
                            <li>
                                <a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                            </li>
                            <li>
                                <a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                            </li>
                            <li>
                                <a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

		<script src="js/jquery.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/skel-layers.min.js"></script>
        <script src="js/init.js"></script>

	</body>
</html>